body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

a:link {
    text-decoration: none;
    color: #E5E7EB;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0 100px 25px;
}

.headerlinks,
.herosubtext,
.footertext {
    font-size: 18px;
    color: #E5E7EB;
}

.logotext,
.herotitle { 
    color: #F9FAF8;
}

.logotext {
    font-size: 24px;
}

.herotitle {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: -20px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heroleft {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    align-items: flex-start;
}

.heroright {
    display: flex;
}

.herobutton {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 5px 15px;
    border: none;
    font-weight: 700;
}

.mainbody {
    display: flex;
    padding: 0 100px 0;
    flex-direction: column;
}

.mainbodytitle {
    display: flex;
    align-self: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.imagecards {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-self: center;
}

.illustration {
    max-width: 150px;
}

.illustration img {
    border-radius: 25px;
}

.illustrationtext {
    text-align: center;
}

.quotebox {
    display: flex;
    padding: 0 150px 0;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
}

.quotetext {
    display: flex;
    flex: auto;
    max-width: 500px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quoteattribution {
    margin-top: -20px;
    margin-left: 300px;
    font-weight: 700;
}

.calltoaction {
    display: flex;
    margin: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 0px 75px 0px;
}

.calltitle,
.calltext {
    color: #F9FAF8;
}

.calltitle {
    font-weight: 600;
    font-size: 18px;
}

.calltext {
    margin-top: -20px;
}

.callbutton {
    border-radius: 5px;
    padding: 5px 15px;
    border: 2px solid #E5E7EB;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 700;
}

.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
}